<div class="row">
    <div class="col-lg-12">
        <div class="card m-b-20">
            <div class="card-body">
                <div class="raw">
                    <div class="col-sm-12">
                        <button id="{{ datepickerId }}" class="btn btn-outline-danger pull-right">
                            <span>Time period</span> <i class="fa fa-calendar"></i>
                        </button>

                        <div id="cases-refresh-switcher-wrap" class="dropdown pull-right m-r-5 refresh-switcher-wrap">
                            <button class="btn btn-outline-danger dropdown-toggle" data-display="static" type="button" id="cases-refresh-switcher" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<span>{{ updatePeriod }}</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="refresh-switcher">
                                <a class="dropdown-item" ng-click="setNewPeriod(period)" ng-repeat="period in periodsList" ng-class="{active: period == updatePeriod}">{{ period }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>