<div class="dropdown">
    <button class="btns btns--border arrow btn-outline-danger dropdown-toggle" data-display="static" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>Playbooks</span></button>
    <div class="dropdown-menu">
        <input type="text" class="form-control" placeholder="Playbook name" ng-model="searchingPlaybook"/>
        <a class="dropdown-item"
           ng-click="showPlaybookModal(playbookId)"
           ng-repeat="(playbookId, playbook) in playbooks"
           ng-show="playbook.toLowerCase().search(searchingPlaybook.toLowerCase()) >= 0 || searchingPlaybook.length <= 0">{{ playbook }}</a>
    </div>
</div>