<div class="chart-card is-open chart-type-{{ chartType }}">
    <div class="slide-btn" ng-click="collapseChart()">
        <h5 class="slide-btn__text">
            {{ chartTitle }}
        </h5>
        <span class="border-arrow border-arrow--up"></span>
    </div>
    <div class="chart-card__main" ng-class="{'is-open': showLegend}">
        <div class="chart-card__row">
            <div class="chart-card__col chart-card__col--left">
                <div id="{{ chartId }}" class="chart-card__charts"></div>
            </div>
            <div class="chart-card__col chart-card__col--right" ng-class="{'hidden': chartType == 'timeline'}">
                <div id="{{ legendId }}" class="chart-card__info"></div>
                <div class="chart-card__footer">
                    <div class="slide-btn" ng-click="showLegend = !showLegend">
                        <span class="border-arrow"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
