<div class="app-container" ng-class="{'light-body': isLightThemeChecked}" ng-controller="AlertsController">
    <main class="so-main is-fixed">
        <div class="so-main__scroll">
            <div sp-alert-fixed-menu selected-item="selectedAlert" curr-url="currUrl" user-list="userList" all-stages="allStages" case-enabled-field-list="caseEnabledFieldList" saved-searches="savedSearches"></div>
            <div class="so-main__wrap so-main--cases">
                <div class="so-main__row">
                    <div class="so-main__col so-main__col--left">
                        <div sp-top-nav></div>
                    </div>
                    <div class="so-main__col so-main__col--right">
                        <div sp-period-switch datepicker-id="alerts-reportrange" update-period="updatePeriod" periods-list="configPeriod"></div>
                    </div>
                </div>
                <section class="schedule">
                    <div class="schedule__row">
                        <div class="schedule__col">
                            <div sp-chart chart-title="Alerts by Stage" group-id="donut-chart" chart-type="donut" chart-id="alerts-donut-chart1" chart-src="chartsSrc.byStage" chart-obj="charts.byStage"></div>
                        </div>
                        <div class="schedule__col">
                            <div sp-chart chart-title="Alerts by Priority" group-id="donut-chart" chart-type="donut" chart-id="alerts-donut-chart2" chart-src="chartsSrc.byPriority" chart-obj="charts.byPriority"></div>
                        </div>
                        <div class="schedule__col">
                            <div sp-chart chart-title="Alerts by SLA" group-id="donut-chart" chart-type="donut" chart-id="alerts-donut-chart3" chart-src="chartsSrc.bySla" chart-obj="charts.bySla"></div>
                        </div>
                    </div>
                    <div class="schedule__wrap">
                        <div sp-chart chart-title="Alerts Timeline" chart-type="timeline" chart-id="alerts-combine-chart3" chart-src="chartsSrc.timeline" chart-obj="charts.timeline"></div>
                    </div>
                    <div class="schedule__table">
                        <div sp-channel-table
                             class="soc-channel-table"
                             table-title="Alerts flow"
                             table-id="{{ workflowTableId }}"
                             table-src="tableSrc"
                             table-allowed-fields="tableFields"
                             selected-item="selectedAlert"
                             one-item-url="{{ oneAlertUrl }}"></div>
                    </div>
                </section>
            </div>
        </div>
        <sp-footer curr-url="currUrl"></sp-footer>
    </main>
</div>
