<div class="app-container" ng-class="{'light-body': isLightThemeChecked}" ng-controller="CasesController">
    <main class="cd-main-content is-fixed">
        <div sp-case-fixed-menu selected-item="selectedCase" curr-url="currUrl" user-list="userList" all-stages="allStages"></div>

        <div sp-top-nav></div>

        <section class="plr">
            <div sp-period-switch datepicker-id="cases-reportrange" update-period="updatePeriod" periods-list="configPeriod"></div>

            <div class="row">
                <div class="col-lg-4">
                    <div sp-chart chart-title="Cases by Stage" group-id="donut-chart" chart-type="donut" chart-id="cases-donut-chart1" chart-src="chartsSrc.byStage" chart-obj="charts.byStage"></div>
                </div>

                <div class="col-lg-4">
                    <div sp-chart chart-title="Cases by Priority" group-id="donut-chart" chart-type="donut" chart-id="cases-donut-chart2" chart-src="chartsSrc.byPriority" chart-obj="charts.byPriority"></div>
                </div>

                <div class="col-lg-4">
                    <div sp-chart chart-title="Cases by SLA" group-id="donut-chart" chart-type="donut" chart-id="cases-donut-chart3" chart-src="chartsSrc.bySla" chart-obj="charts.bySla"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div sp-chart chart-title="Cases Timeline" chart-type="timeline" chart-id="cases-combine-chart3" chart-src="chartsSrc.timeline" chart-obj="charts.timeline"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card m-t-20">
                        <div class="card-header">
                            Case Flow
                            <button type="button" class="btn btn-outline-danger waves-effect waves-ligh pull-right" ng-click="createNewCase()">Create Case</button>
                        </div>

                        <div sp-chanel-table table-id="soc-channel-table" table-src="tableSrc" selected-item="selectedCase" one-item-url="{{ oneCaseUrl }}"></div>
                    </div>
                </div>
            </div>
        </section>

        <sp-footer curr-url="currUrl"></sp-footer>
    </main>
</div>
