<a class="dropdown-item" ng-if="subActions.command" ng-click="dataEnrichment(subActions.name)">{{ subActions.name }}</a>
<a class="dropdown-item" ng-if="subActions.link" ng-click="copy2Clipboard(rowData)" href="{{ externalLookup(subActions.link, subActions.functions) }}" target="_blank">{{ subActions.name }}</a>

<a ng-if="hasChild && subValue.length">{{ subName }}</a>
<ul ng-if="hasChild && subValue.length" class="dropdown-menu">
    <li class="dropdown-submenu"
        sp-data-action-button-sub-item
        ng-repeat="action in subValue"
        ng-class="hasChild && !action.name ? 'dropdown-submenu-has-child' : ''"
        sub-actions="action"
        row-key="{{ rowKey }}"
        row-data="{{ rowData }}"
        curr-entity-id="{{ currEntityId }}"
        curr-entity-type="{{ currEntityType }}"
        curr-url="currUrl"
    ></li>
</ul>
